*{
	margin: 0px;
	padding: 0px;
}
#font_0{
  font: normal normal bold 43px/1.2em 'Noticia Text',serif;
  color: rgba(19, 121, 174, 1);
  text-decoration: none;
}
body{
	height: 100%;
	width: 100%;
	text-align: center;
	bottom: auto;
	 background-color: rgb(234, 229, 229);	/*flexible web model; future of webmaking*/	
}
#site_root{
  margin-right: 193px;
  margin-left: 193px;
  padding-bottom: 41px;
}
#header{
  position: absolute;
  top: 35px;
  width: 375px;
  left: 278px;
  text-align: left;
}
header, section , footer, aside, nav, article ,hroup{
	display: block;
	vertical-align: baseline;
}
.font_6 {
  font: normal normal normal 17px/1.2em 'Noticia Text',serif;
  color: rgba(77,77,77,1);
}
#top_menu{  
  position: absolute;
  top: 88px;
  height: 31px;
  width: 495px;
  left: 643px;
}
li{display: inline-block;
	}
#li1{
  position: relative;
  box-sizing: border-box;
  width: 100px;
  height: 31px;
  overflow: visible;
  text-align: center;
  cursor: pointer;
  font: normal normal bold 14px/1.2em 'Noticia Text',serif;
  color :#8BBBBB;
    padding: 0 5px;
  box-sizing: border-box;

  width: 172px;

  height: 31px;
    text-decoration: none;
}
.x{color: #61CFD3;}
#li2{ 
  position: relative;
text-decoration: none;

  overflow: visible;
cursor: pointer;
  padding: 0 10px;
  color: #8B8B8B;
  text-align: center;
font: normal normal bold 14px/1.2em 'Noticia Text',serif;}
#li3{ 
  position: relative;
  text-decoration: none;
  box-sizing: border-box;
  width: 100px;
  height: 31px;
  overflow: visible;
  cursor: pointer;
  padding: 0 10px;
  color: #8B8B8B;
  text-align: center;
font: normal normal bold 14px/1.2em 'Noticia Text',serif;}
#li4{ 
  position: relative;
  box-sizing: border-box;
  width: 80px;
  height: 31px;
  overflow: visible;
  cursor: pointer;
  padding: 0 10px;
  color: #8B8B8B;
  text-decoration: none;
  text-align: center;
  font: normal normal bold 14px/1.2em 'Noticia Text',serif;
}
#main_section {
  position: absolute;
  top: 189px;
  height: 530px;
  width: 980px;
  left: 193px;

}
#image{
  position: absolute;
  top: 51px;
  height: 400px;
  width: 400px;
  left: 30px;
    display: block;
  border-radius: 50%;
  border: 0px solid rgba(234, 229, 229, 1);
  overflow: hidden;
}
#article1 {position: absolute;
  top: 37px;
  width: 430px;
  left: 490px;
text-align: left;
}
h3{font: normal normal normal 80px/1.2em 'Noticia Text',serif;
  color: rgba(77,77,77,1);}
h4{
  font: normal normal normal 46px/1.2em 'Noticia Text',serif;
  color: rgba(77,77,77,1);
}
#article2{  position: absolute;
  top: 362px;
  width: 430px;
  left: 490px;}
  .font_8 {
  font: normal normal normal 13px/1.2em 'Open Sans',sans-serif;
  color: rgba(77,77,77,1);
  text-align: justify;
}
.font_8 {
  font: normal normal normal 15px/1.2em 'Open Sans',sans-serif;
  color: rgba(77,77,77,1);
}
#Education{
	  position: absolute;
  top: 207px;
  height: 130px;
  width: 130px;
  left: 473px;
    background-color: rgba(232, 53, 86, 1);
  transition: border 0.4s ease 0s, background-color 0.4s ease 0s;
  border: solid rgba(232, 53, 86, 1) 0px;
  cursor: pointer !important;
  border-radius: 50%;

}
#s1{text-decoration: none;
  font: normal normal normal 13px/1.2em 'Open Sans',sans-serif;
  transition: color 0.4s ease 0s;
  color: #FFFFFF;
  display: inline-block;
  margin-top: 57px;
  position: relative;
  white-space: nowrap;
}
#Accomplishments {
	position: absolute;
  top: 207px;
  height: 130px;
  width: 130px;
  left: 626px;
  background-color: rgba(97, 207, 211, 1);
  transition: border 0.4s ease 0s, background-color 0.4s ease 0s;
  border: solid rgba(97, 207, 211, 1) 0px;
  cursor: pointer !important;
  border-radius: 50%;
}
#Skills{
	position: absolute;
  top: 210px;
  height: 130px;
  width: 130px;
  left: 779px;
  background-color: rgba(209, 200, 37, 1);
  transition: border 0.4s ease 0s, background-color 0.4s ease 0s;
  border: solid rgba(209, 200, 37, 1) 0px;
  cursor: pointer !important;
  border-radius: 50%;
}
#site_footrer{
	position: absolute;
  top: 794px;
  height: 200px;
  width: 1349px;
  left: 0px;
  bottom: auto;
    background-color: rgba(232, 53, 86, 1);
  border-top: 3px solid rgba(234, 229, 229, 1);
  border-bottom: 0px solid rgba(234, 229, 229, 1);
  
  text-align:left;
}
#site_footrer2{
  position: absolute;
  top: 1500px;
  height: 200px;
  width: 1349px;
  left: 0px;
  bottom: auto;
    background-color: rgba(232, 53, 86, 1);
  border-top: 3px solid rgba(234, 229, 229, 1);
  border-bottom: 0px solid rgba(234, 229, 229, 1);
  
  text-align:left;
}
#site_footrer3{
  position: absolute;
  top: 1400px;
  height: 200px;
  width: 1349px;
  left: 0px;
  bottom: auto;
    background-color: rgba(232, 53, 86, 1);
  border-top: 3px solid rgba(234, 229, 229, 1);
  border-bottom: 0px solid rgba(234, 229, 229, 1);
  
  text-align:left;
}
 #div1{ position: absolute;
  top: 36px;
  width: 155px;
  left: 300px;
}
 #div2{ position: absolute;
  top: 56px;
  width: 140px;
  left: 530px;
  color: white;}
    
 #div3{ position: absolute;
  top: 51px;
  width: 140px;
  left: 760px;
  color: rgba(234,229,229,1);
}
#div4{  position: absolute;
  top: 56px;
  width: 150px;
  left: 920px;
color: white;}
#fb{
  position: absolute;
  top: 76px;
  height: 18px;
  width: 22px;
  left: 795px;
}
#twit{
  position: absolute;
  top: 76px;
  height: 20px;
  width: 22px;
  left: 815px;
}
#h{
  font: normal normal normal 80px 'Noticia Text',serif;
  color: rgba(126, 3, 26, 1);
  width:865px;
  height: 100px;
  border-bottom:1px solid rgba(139, 139, 139, 1);
}
#main_section1{
  position: absolute;
  top: 189px;
  width: 865px;
	text-align: justify;
  left: 278px;
}
#subheader{
	  font: normal normal bold 25px 'Open Sans',sans-serif;
		color: #10AAAE;
    text-decoration: underline;
    text-align: left;
}
#q{
  font: normal normal normal 60px 'Noticia Text',serif;
  color: #064291;
  position: absolute;
  top: 25px;
  width:610px;
  height: 170px;
  border-bottom:1px solid rgba(139, 139, 139, 1);
}
#article5{  position: absolute;
  top: 261px;
  width: 462px;
  height: 350px;
  left: 150px;
border-bottom:1px solid rgba(139, 139, 139, 1);}
#article6{    position: absolute;
  top: 665px;
  width: 467px;
  height: 330px;
  left: 150px;
border-bottom:1px solid rgba(139, 139, 139, 1);}
#article7{  
  position: absolute;
  top: 1040px;
  width: 467px;
left: 150px;}
#board{
    position: absolute;
  top: 235px;
  height: 130px;
  width: 130px;
  left: 0px;
  background-color: rgba(232, 53, 86, 1);
  transition: border 0.4s ease 0s, background-color 0.4s ease 0s;
  border-radius: 50%;
  text-align: center;
}
#kvpy{
    position: absolute;
  top: 655px;
  height: 130px;
  width: 130px;
  left: 0px;
  background-color: rgba(232, 53, 86, 1);
  transition: border 0.4s ease 0s, background-color 0.4s ease 0s;
  border-radius: 50%;
  text-align: center;
}
#iitjee{
    position: absolute;
  top: 1017px;
  height: 130px;
  width: 130px;
  left: 0px;
  background-color: rgba(232, 53, 86, 1);
  transition: border 0.4s ease 0s, background-color 0.4s ease 0s;
  border-radius: 50%;
  text-align: center;
}
#interest{
    position: absolute;
  top: 95px;
  height:57px;
  width: 57px;
  left: 640px;
  background-color: rgba(232, 53, 86, 1);
  transition: border 0.4s ease 0s, background-color 0.4s ease 0s;
  border-radius: 50%;
  text-align: center;
}
#i{
  font: normal normal bold 20px 'Noticia Text',serif;
  color: #064291;
  position: absolute;
  top: 155px;
  width:205px;
  left: 637px;
  height: 40px;
  border-bottom:1px solid rgba(139, 139, 139, 1);
}
#article8{
  position: absolute;
  top: 230px;
  width: 200px;
left: 640px;
}
#article9{
  position: absolute;
  top: 580px;
  width: 200px;
left: 644px;
}
#skil{
    position: absolute;
  top: 450px;
  height:57px;
  width: 57px;
  left: 640px;
  background-color: rgba(232, 53, 86, 1);
  transition: border 0.4s ease 0s, background-color 0.4s ease 0s;
  border-radius: 50%;
  text-align: center;
}
#ak{
  font: normal normal bold 20px 'Noticia Text',serif;
  color: #064291;
  position: absolute;
  top: 510px;
  width:205px;
  left: 646px;
  height: 40px;
  border-bottom:1px solid rgba(139, 139, 139, 1);
}
#c{
  font: normal normal normal 60px 'Noticia Text',serif;
  color: #064291;
  position: absolute;
  top: 25px;
  height: 90px;
 width: 865px;
  border-bottom:1px solid rgba(139, 139, 139, 1);
}
#article10{ position: absolute;
  top: 150px;width: 865px;
text-align: justify;
}
#article11{ position: absolute;
  top: 480px;width: 865px;
text-align: justify;
}
#article12{ position: absolute;
  top: 1050px;width: 865px;
text-align: justify;
}
#w{
  font: normal normal normal 60px 'Noticia Text',serif;
  color: #064291;
  position: absolute;
  top: 385px;
  height: 90px;
 width: 865px;
  border-bottom:1px solid rgba(139, 139, 139, 1);
}

#p{
  font: normal normal normal 60px 'Noticia Text',serif;
  color: #064291;
  position: absolute;
  top: 950px;
  height: 90px;
 width: 865px;
  border-bottom:1px solid rgba(139, 139, 139, 1);
}
